* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    border: 2px solid green;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    padding: 2rem;
}

